*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
    background-color: palegreen;
    display: flex;
    align-items: center;
    justify-content: center;
}
.panel{
    height: 80%;
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}
.ptop{
    height: 100px;
    width: 100%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30%;
}
.elem{
    display: flex;
    gap: 20px;
    align-items: center;
}
.elem>h2{
    font-weight: 500;
    font-size: 22px;
}
.box{
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
    color: #000;
    font-size: 22px;
    font-weight: 600;
}
.pbtm{
    width: 100%;
    height: calc(100% - 100px);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.bubble{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: darkgreen;
    color: #fff;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bubble:hover{
    background-color: green;
    cursor: pointer;
}